VITE_APP_ENV=development #change to 'production' when in production environment
VITE_BACKEND_URL=
VITE_BASE_CURRENCY=Naira
VITE_CURRENCY_CODE=NGN
VITE_APP_NAME=Frontend

#for payment
VITE_FLUTTERWAVE_PUBLIC_KEY=Your_Flutterwave_Public_Key
